body{
    text-align: center;
}
/* we are creating 3x4 grid */
.grid{
    display: inline-flex;
    flex-wrap: wrap;
    width: 400px;
    height:300px;
    padding: 1px;
    
}
h1{
    color: #e04300;
}
h3{
    color: #940000;
}
h4{
    color: #a8a802;
}
ul{
    list-style-position: inside;
    color: #190057;

}
    
  